<html>
<head>
	<title>We Talk</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/options.js"></script>
</head>
<body>
	<div id="dFramework" class="framework">
		<div id="dTalk">
			<div id="dContacts">
				<ul class="nav nav-tabs">
				  <li id="liMessage" role="presentation" class="active">
				  	<a id="btnMessage" href="#">
				  		Message
				  		<span id="spMsgCount" class="badge">3</span>
				  	</a>
				  </li>
				  <li id="liContact" role="presentation" >
                      <a id="btnContact" href="#">
                          Contact
                      </a>
                  </li>
				</ul>
				<div id="dCustomers">
					<!-- load the contacts -->
				</div>
			</div>
			<div id="dMsgPanel">
				<div id="dCustomerBar">
					<label id="lblCustomerName"></label>
				</div>

				<div id="dMsg">
					<!-- show the message -->
				</div>
				<div id="dEditMsg">
					<textarea id="txtMsg" class="form-control" rows="4"></textarea>
				</div>
				<div id="dOption">
					<button id="btnSendMsg" class="btn btn-primary">Send</button>
                    <button id="btnAddUser" class="btn btn-primary">Add User</button>
                    <button id="btnReset" class="btn btn-primary">Reset</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>